* {
  margin: 0;
  padding: 0;
}
.myApp {
  background: rgb(221, 214, 204);
  height: 100vh;
  .gameArea {
    max-width: 800px;
    height: 100%;
    background: rgb(196, 188, 178);
    margin: 0 auto;
  }
}

.gamePage {
  position: relative;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg5.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    filter: contrast(150%) blur(3px);
  }
  .gameTime {
    position: relative;
  }
  .monsterList {
    position: relative;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column-reverse;
    .monsterItem {
      display: flex;
      margin-top: -5px;
    }
    .left {
      margin-right: auto;
    }
    .middle {
      margin: 0 auto;
    }
    .right {
      margin-left: auto;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    .footerBtnGroup {
      display: flex;
      justify-content: space-around;
      .footerBtn {
        height: 50px;
        width: 50px;
        background: pink;
        border: 1px solid black;
      }
    }
  }
  .countdown {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: white;
  }
}
